@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Bebas+Neue&family=Caveat&family=Dancing+Script&family=Gentium+Plus:ital@1&family=Inconsolata:wght@200;300;400&family=Joan&family=Kanit:ital,wght@0,100;0,200;1,100&family=Metal&family=Montserrat&family=Nunito:wght@200&family=Nuosu+SIL&family=PT+Sans&family=Quicksand:wght@300&family=Raleway:ital,wght@0,100;0,400;1,300&family=Roboto:wght@100&family=Tai+Heritage+Pro&display=swap');

.navbar-nav a{
    font-size: 1.8em;
    color: rgba(9, 44, 158, 0.95) !important;   
}

.navbar-brand{
    color: #09653f !important;
}

.btn{
    color: rgba(66, 101, 219, 0.95) !important;
}

.navbar{
    font-family: 'Merriweather', serif;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer !important;
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button !important;
}

